{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% block title %}Hardcore Fitness{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'treinos/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'treinos/css/base.css' %}">

  {% block extra_css %}{% endblock %}
</head>
<body>
  <div class="wrapper">
    <nav class="sidebar">
      <div class="brand">
        <a href="{% url 'home' %}" class="brand-link">
          <img src="{% static 'treinos/images/logo_app.png' %}" alt="Logo" class="brand-logo">
          Hardcore
        </a>
        
      </div>
      <ul>
        <li class="{% if request.resolver_match.url_name == 'lista_treinos' %}active{% endif %}">
          <a href="{% url 'treinos:lista_treinos' %}">Meus Treinos</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'novo_treino' %}active{% endif %}">
          <a href="{% url 'treinos:novo_treino' %}">+ Novo Treino</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'historico_treino' %}active{% endif %}">
          <a href="{% url 'treinos:historico_treino' %}">Histórico</a>
        </li>
      </ul>
    </nav>

    <main class="content">
      <header>
        <h1>{% block header %}{% endblock %}</h1>
      </header>
      <section class="main-area">
        {% block content %}{% endblock %}
      </section>
    </main>
  </div>
</body>
</html>
