{% extends 'treinos/base.html' %}

{% block title %}Meus Treinos{% endblock %}
{% block header %}Meus Treinos{% endblock %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'treinos/css/lista_treinos.css' %}">
{% endblock %}

{% block content %}


<div class="card-container">
  {% for treino in treinos %}
    <a href="{% url 'treinos:detalhe_treino' treino.id %}" class="card">
      <h2>{{ treino.nome }}</h2>
      <div class="meta-info">
        <span>{{ treino.grupomuscular_set.count }} grupos</span>
        <span>{{ treino.total_exercicios }} exercícios</span>
      </div>
      {% if treino.ultima_execucao %}
        <small>Último: {{ treino.ultima_execucao|date:"d/m/Y" }}</small>
      {% endif %}
    </a>
  {% empty %}
    <p class="empty">Nenhum treino cadastrado.</p>
  {% endfor %}
</div>
{% endblock %}
