.exercise-details-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 1rem;
    margin-top: 2rem;
    align-items: end; /* Para alinhar os campos pela base */
    
  }
  
  .exer-name-field {
    grid-column: 1 / -1; /* Nome do exercício ocupa a linha inteira */
    margin-bottom: 1.5rem;
  }
  
  .input-field input {
    height: 50px; /* Aumenta altura */
    font-size: 1.2rem; /* Aumenta texto */
  }
  .exercicio-item .exer-name-field {
    margin-bottom: 0;    /* zera o espaço extra abaixo do input de nome */
  }
  
  